@charset "utf-8";

div {

}

* {
	box-sizing: border-box;
}

.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.row {
margin-right: -15px;  
margin-left: -15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;

}



.nav-brand{
	font-family: 'Russo One', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Russo+One');
	font-color: #000000;
	text-shadow: 2px 2px 2px #ffffff;
}


.logo-img {

}

@font-face {
	font-family: specialfont;
	src: url('https://fonts.googleapis.com/css?family=Russo+One');
}

.navbar-brand a:hover, .navbar-brand a:focus,
h1 {
	font-family: 'Marck Script', cursive;
	font-weight: bold;
	text-decoration: none;
    text-shadow: 2px 2px 2px #ffffff;


}

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: blue;
}

/* selected link */
a:active {
    color: yellow;
}

#nav-list {
  color: white;
}

hr {
  border-color: black;
}

.item {
  color: white;
  font-size: 1.2em;
}

body {
	background-image: url("../images/background.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #c7e3f8;
	margin-bottom: 60px;

}

p {
	padding: 10px;
	margin: 0;
	font-weight: 80%;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color: #c7cacc;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	text-shadow: 1px 1px 1px white;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #538019;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #FF1439;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #6495ED;
	color: white;
	padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #64a6e0;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}
.footer {
	
	padding: 10px 0;
	background-color: #64a6e0;
	text-align: center;
	position: relative;
	 
}






}
@media (min-width: 768px) and (max-width: 991px) {
	background-image: url('../images/backgroundsm.jpg') no-repeat;
	backgroud-size: auto;
	background-position: center;
}
	

@media (max-width: 767px) {
	backgound-image: url('../images/backgroundxs.jpg') no-repeat;
	backgroud-size: auto;
	background-position: center;

	}
	
}
